<%- include('../partials/header') %>

<div class="order-placed-container">
    <h1>🎉 Order Placed Successfully! 🎉</h1>
    <p>Thank you for your purchase.</p>
    <a href="/" class="checkout-button">Continue Shopping</a>
</div>

<%- include('../partials/footer') %>